@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Roboto, sans-serif;
  color: #4b5a63
}
/* 
* These styles were added to improve the appearance of the example pages.
* It is safe to delete them, and they are not intended to be used by Refine components.
*/


.react-tel-input .flag-dropdown {
  background-color: white !important;
  border-right: 0px !important;
}

.react-tel-input .form-control {
  width: 100% !important;
}